{% extends "layout.njk"%}

{% block content %}

    <div id="packet">
        <img src="https://yt3.ggpht.com/a/AGF-l7_gRI0RdRC_VNg535o0C21ltP0eTFhi4rjRmw=s240-c-k-c0xffffffff-no-rj-mo"
            alt="logo rocketsear">
        <h1>Rocketseat</h1>
        <h2>A menor distância entre você e seus objetivos...</h2>
        <p>No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém
            que
            te leve na direção certa.</p>
        <ul>
            <li>Starter</li>
            <li>Launchbase</li>
            <li>GoStack</li>
        </ul>

    </div>
  

{% endblock %}
