{% extends "layout.njk"%}

{% block content %}

    <div id="packet">
        <img src="{{about.avatar_url}} " alt="logo {{about.name}}">
        <h1>
            {{about.name}}
        </h1>
        {{about.description}}
        <ul>
            <li>Starter</li>
            <li>Launchbase</li>
            <li>GoStack</li>
        </ul>

    </div>

{% endblock %}