{% extends "layout.njk" %}

{% block content %}

    {% block head %}
        <title>Cursos</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% endblock head %}

    <div class="packet">
        Cursos
    </div>
    <section class="cards">
        {% for card in cards %}

            <div class="card" id="{{card.id}}">
                <div class="card-image">
                    <img src="{{card.img}}" alt="Imagem do curso {{card.title}}">
                </div>
                <div class="card-text">
                    <h2>{{card.title}}</h2>
                    <p>
                        {{card.description}}
                    </p>
                </div>
                <div class="card-stats">
                    <div class="stat border">
                        <div class="value">Preço</div>
                        <div class="type">
                            {{card.price}}
                        </div>
                    </div>
                    <div class="stat">
                        <div class="value">
                            {{card.modules}}
                        </div>
                        <div class="type">Módulos</div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </section>

    <script src="script.js"></script>

{% endblock content %}